.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inner_main {
    display: flex;
    flex-direction: column;
    max-width: 60rem;
    width: 100%;
    margin-top: 1rem;
    gap: 1rem;
}

.title {
    font-weight: 600;
}

.requests_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.request_container {
    border: 1px solid black;
    border-radius: 10px;
    padding: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name {
    font-size: 1.1rem;
    font-weight: 600;
}

.approved {
    color: mediumseagreen;
}

.denied {
    color: red;
}
