.form {
    max-width: 20rem;
    width: 100%;
    border: 1px solid color-mix(in srgb, black, transparent 92%);
    padding: 1rem;
    border-radius: 10px;
}

.error_message {
    color: red;
    font-size: .8rem;
}
